{{page-title "AdminPage"}}

<h1>This is the Administrator Page</h1>

<LinkTo @route = "container.admin-page.adduser">Add User</LinkTo>
<LinkTo @route = "container.admin-page.edituser">Edit User</LinkTo>

{{outlet}}