{{page-title "EmberRoleBasedLogin"}}

<div class="title">Zoogle Drive</div>
<div class="subtitle">Welcome to the #1 cloud storage platform</div>

<LinkTo @route = "login-page">Login</LinkTo>
{{!-- <LinkTo @route = "container">Container</LinkTo> --}}

{{outlet}}