{{page-title "EmberRoleBasedLogin"}}

<div class="title">My App</div>
<div class="subtitle">This is My App</div>

<LinkTo @route = "login-page">Login</LinkTo>
{{!-- <LinkTo @route = "container">Container</LinkTo> --}}

{{outlet}}